.left-bar {
    position: relative;
    background-color: #073954;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 280px;
    height: 100%;
}
    
.left-bar__logo-wrapper {
    padding: 0 50px 0 10px;
    margin-bottom: 20px;
}
    
.left-bar__inner {
    overflow-y: auto;
    height: 100%;
    padding: 20px 0;
}

.left-bar__expander {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 20px;
    transform: translateX(50%);
}

.logo {
    width: 100%;
}

.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    fill: none;
    stroke-width: 1px;
}

.main-menu {
    width: 100%;
}

.main-menu__item {
    background: transparent;
    position: relative;
}

.main-menu__item:hover {
    background: #073954;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}

.main-menu__profile-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 1rem; 
    transition: background-color 0.3s ease;
}

.main-menu__profile-item > .main-menu__link:first-child {
    background: #4DB02A;
    width: 100%;
}

.main-menu__profile-item > .main-menu__link:first-child:hover {
    background-color: #429723;
}

.main-menu__profile-item > .main-menu__link:last-child {
    height: 3.4em;
    font-size: 1em;
    background: #4DB02A;
}

.main-menu__profile-item > .main-menu__link:last-child:hover {
    background-color: #429723;
}

.user-avatar {
    position: relative;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: 1rem;
}

.user-avatar__wrapper {
    border: 2px solid #3AB4F8;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    position: relative;
}

.user-avatar__wrapper > img {
    width: 100%;
}

.icon_logout {
    overflow: hidden;
    width: 1.6em;
    height: 1.6em;
}

.main-menu__link {
    color: #FFFFFF;
    padding: .7rem .7rem;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.main-menu__link > .icon {
    flex-shrink: 0;
    margin-right: 1rem;

}

.main-menu__link-title {
    margin-right: 2rem;
}

.main-menu__control {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    text-align: center;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 1px solid #3AB4F8;
    transition: background-color 0.3s ease;
}

.main-menu__control:hover {
    background-color: #3AB4F8;
}

.main-menu__control .icon {
    font-size: 1.5rem;
}







/* .main-menu__item.main-menu__item_active {
    background: #3AB4F8;
    z-index: 2;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.12);
} */

/* .main-menu__item.main-menu__item_expanded .main-menu__item_has-sub-items > .main-menu__link{
    z-index: 2;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.12);
}  */


/* 
.main-menu__sub-items {
    display: none;
}





.main-menu__link:first-child {
    flex-grow: 1;
}

.main-menu__link {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease;
}

.main-menu__link:hover {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.12);
    background-color: rgba(255,255,255,0.12);
}

.icon {
    flex-shrink: 0;
    margin-right: 8px;
}

.icon:last-child {
    margin-right: 0;
}

.user-avatar {
    flex-shrink: 0;
    margin-right: 8px;
}

.main-menu__link-title {
    margin-right: 16px;
}

.main-menu__link-title:last-child {
    margin-right: 0;
}


.main-menu__link > .main-menu__control {
    background: #e0e0e0;
}

.main-menu__link > .main-menu__control .icon_type_minus {
    display: block;
}

.main-menu__link > .main-menu__control .icon_type_plus {
    display: none;
}

.main-menu__sub-items {
    display: block;
}


.main-menu__link > .main-menu__control .icon_type_minus {
    display: none;
}

.main-menu__control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #b5b5b5;
    transition: background-color 0.3s ease;
    }

.icon {
    font-size: 8px;
} */

